options:
  docker: true
pipelines:
  default:
    - step:
        image: python:3.5
        name: Tests3.5
        script:
          - python --version
          - pip install -r requirements.txt
          - python setup.py build
          - python setup.py install
          - python tests/test_login.py "$TEST_USERNAME" "$TEST_PASSWORD" "$TEST_CLIENT_ID" "$TEST_CLIENT_SECRET"
          - pip install gsutil
          - gsutil -m cp -R gs://sdl-tests-assets/assets tests/
          - python tests/test_examples.py
          - python tests/test_runner.py
    - step:
        image: python:3.6
        name: Tests3.6
        script:
          - python --version
          - pip install -r requirements.txt
          - python setup.py build
          - python setup.py install
          - python tests/test_login.py "$TEST_USERNAME" "$TEST_PASSWORD" "$TEST_CLIENT_ID" "$TEST_CLIENT_SECRET"
          - pip install gsutil
          - gsutil -m cp -R gs://sdl-tests-assets/assets tests/
          - python tests/test_examples.py
          - python tests/test_runner.py
    - step:
        image: python:3.7
        name: Tests3.7
        script:
          - python --version
          - pip install -r requirements.txt
          - python setup.py build
          - python setup.py install
          - python tests/test_login.py "$TEST_USERNAME" "$TEST_PASSWORD" "$TEST_CLIENT_ID" "$TEST_CLIENT_SECRET"
          - pip install gsutil
          - gsutil -m cp -R gs://sdl-tests-assets/assets tests/
          - python tests/test_examples.py
          - python tests/test_runner.py
  tags:
    "*":
      - step:
          image: python:3.5
          name: Build SDK Container
          script:
            - case "$BITBUCKET_TAG" in "") export BITBUCKET_TAG="build-$BITBUCKET_BUILD_NUMBER"; esac
            - python setup.py bdist_wheel
            - docker login -u _json_key -p "$GCP_KEY" https://gcr.io
            - chmod +x ./build-docker-cpu.sh
            - ./build-docker-cpu.sh $BITBUCKET_TAG
            - chmod +x ./build-docker-gpu.sh
            - ./build-docker-gpu.sh $BITBUCKET_TAG