options:
  docker: true
pipelines:
  tags:
    "*":
      - step:
          image: gcr.io/google.com/cloudsdktool/cloud-sdk:latest
          name: Build SDK Container
          script:
            - case "$BITBUCKET_TAG" in "") export BITBUCKET_TAG="build-$BITBUCKET_BUILD_NUMBER"; esac
            - apt-get -y update && apt-get install -y python3-pip
            - python3 setup.py bdist_wheel
            - docker login -u _json_key -p "$GCP_KEY" https://gcr.io
            - cp dist/dtlpy-$BITBUCKET_TAG-py3-none-any.whl dist/dtlpy-latest-py3-none-any.whl
            - echo "$GCP_KEY" >> k.json
            - gcloud auth activate-service-account --key-file=k.json
            - gsutil -m cp -R dist/**  gs://dtlpy/dev/
            - chmod +x ./build-docker.sh
            - ./build-docker.sh $BITBUCKET_TAG
            - git checkout -b "$BITBUCKET_TAG"
    "run-test-5":
      - step:
          image: python:3.5
          name: Tests3.5
          script:
            - python --version
            - PYTHONPATH=$PWD
            - pip install -r requirements.txt
            - pip install -r tests/requirements.txt
            - python setup.py build
            - python setup.py install
            - python tests/test_login.py "$TEST_USER_PROD" "$TEST_PASSWORD_PROD" "$CLIENT_ID_PROD" "$CLIENT_SECRET_PROD"
            - pip install gsutil
            - gsutil -m cp -R gs://dtlpy/assets tests/
            - python tests/test_runner.py
    "run-test-6":
      - step:
          image: python:3.6
          name: Tests3.6
          script:
            - python --version
            - PYTHONPATH=$PWD
            - pip install -r requirements.txt
            - pip install -r tests/requirements.txt
            - python setup.py build
            - python setup.py install
            - python tests/test_login.py "$TEST_USER_PROD" "$TEST_PASSWORD_PROD" "$CLIENT_ID_PROD" "$CLIENT_SECRET_PROD"
            - pip install gsutil
            - gsutil -m cp -R gs://dtlpy/assets tests/
            - python tests/test_runner.py
    "run-test-7":
      - step:
          image: python:3.7
          name: Tests3.7
          script:
            - python --version
            - PYTHONPATH=$PWD
            - pip install -r requirements.txt
            - pip install -r tests/requirements.txt
            - python setup.py build
            - python setup.py install
            - python tests/test_login.py "$TEST_USER_PROD" "$TEST_PASSWORD_PROD" "$CLIENT_ID_PROD" "$CLIENT_SECRET_PROD"
            - pip install gsutil
            - gsutil -m cp -R gs://dtlpy/assets tests/
            - python tests/test_runner.py
    "run-test-8":
      - step:
          image: python:3.8
          name: Tests3.8
          script:
            - python --version
            - PYTHONPATH=$PWD
            - pip install -r requirements.txt
            - pip install -r tests/requirements.txt
            - python setup.py build
            - python setup.py install
            - python tests/test_login.py "$TEST_USER_PROD" "$TEST_PASSWORD_PROD" "$CLIENT_ID_PROD" "$CLIENT_SECRET_PROD"
            - pip install gsutil
            - gsutil -m cp -R gs://dtlpy/assets tests/
            - python tests/test_runner.py
    "examples":
      - step:
          image: python:3.5
          name: Tests3.5
          script:
            - python --version
            - PYTHONPATH=$PWD
            - pip install -r requirements.txt
            - pip install -r tests/requirements.txt
            - python setup.py build
            - python setup.py install
            - python tests/test_login.py "$TEST_USER_PROD" "$TEST_PASSWORD_PROD" "$CLIENT_ID_PROD" "$CLIENT_SECRET_PROD"
            - pip install gsutil
            - gsutil -m cp -R gs://dtlpy/assets tests/
            - python tests/test_examples.py
