prune *venv*
prune *env*
prune tests
prune build
prune dist
prune *.egg-info
prune __pycache__
prune .pytest_cache
prune .cursor
prune .idea
prune .dataloop
include README.md
include LICENSE
include requirements.txt
include docs/*.txt
include dtlpy/assets/*/*
include dtlpy/assets/*
include dtlpy/repositories/plugins_assets/*
