certifi>=2020.12.5 ,<2021.10.8
webvtt-py==0.4.3
aiohttp>=3.6.2 , <4.0.0
requests-toolbelt==0.9.1
requests>=2.21.0, <2.26.0
numpy<1.22 , >=1.16.2
pandas>=0.24.2, <1.4
tabulate==0.8.9
tqdm>=4.32.2, <4.62.3
Pillow>=7.2, <9.1
PyJWT<=1.7.1
jinja2>=2.11.3, <3.0.2
attrs<20.0.0
prompt_toolkit>=2.0.9 , <3.0.20
fuzzyfinder<=2.1.0
dictdiffer>=0.8.1, <0.9.0
validators<=0.18.2
pathspec>=0.8.1 , <0.10
filelock==3.0.12
diskcache==5.2.1

# extra requirements
google-cloud-storage
google-cloud-core
protobuf>=3.17.3
opencv-python
torch>=1.8
torchvision>0.9
tensorflow-gpu
imgaug