certifi
webvtt-py==0.4.3
aiohttp>=3.6.2 , <4.0.0
requests-toolbelt>=0.9.1
requests>=2.21.0
numpy<1.20.3 , >=1.16.2
pandas>=0.24.2
tabulate>=0.8.3
tqdm>=4.32.2
Pillow>=7.2
PyJWT>=1.7.1
jinja2>=2.11.3
attrs<20.0.0
attr>=0.3.1
prompt_toolkit>=2.0.9
fuzzyfinder>=2.1.0
dictdiffer>=0.8.0
validators>=0.13.0
pathspec
filelock==3.0.12
diskcache==5.2.1
#scipy==1.7.1