tqdm>=4.63
certifi>=2020.12.5
webvtt-py==0.4.3
aiohttp>=3.8
requests-toolbelt>=1.0.0
requests>=2.25.0
numpy>=1.16.2
pandas>=0.24.2
tabulate>=0.8.9
Pillow>=10.3.0
PyJWT>=2.4
jinja2>=2.11.3
attrs<=22.2.0
prompt_toolkit>=2.0.9
fuzzyfinder<=2.1.0
dictdiffer>=0.8.1
validators<=0.18.2
pathspec>=0.8.1
filelock>=3.0.12
diskcache>=5.4
redis>=3.5
urllib3>=1.26

# extra requirements
google-cloud-storage
google-cloud-core
protobuf>=3.17.3
opencv-python
torch>=1.8
torchvision>0.9
tensorflow-gpu
imgaug