tqdm>=4.64.0
certifi>=2020.12.5
webvtt-py==0.4.3
aiohttp>=3.6.2
requests-toolbelt==0.9.1
requests>=2.21.0
numpy>=1.16.2
pandas>=0.24.2
tabulate==0.8.9
Pillow>=7.2, <9.1
PyJWT>=2.4
jinja2>=2.11.3
attrs<20.0.0
prompt_toolkit>=2.0.9
fuzzyfinder<=2.1.0
dictdiffer>=0.8.1
validators<=0.18.2
pathspec>=0.8.1
filelock>=3.0.12
diskcache==5.2.1
redis==4.1.3
pydantic

# extra requirements
google-cloud-storage
google-cloud-core
protobuf>=3.17.3
opencv-python
torch>=1.8
torchvision>0.9
tensorflow-gpu
imgaug