import dtlpy as dl
{{#projectId}}
#get project object
project = dl.projects.get(project_id='{{projectId}}')
{{/projectId}}

{{#datasetId}}
#get dataset object
dataset = project.datasets.get(dataset_id='{{datasetId}}')
{{/datasetId}}

{{#recipeId}}
#get recipe object
recipe = dataset.recipes.get(recipe_id='{{recipeId}}')
{{#ontologyId}}
#get ontology object
ontology = recipe.ontologies.get(ontology_id='{{ontologyId}}')
#get label
childLabel = ontology.labels[x].children[y].children[z]
{{/ontologyId}}

{{/recipeId}}


{{#itemId}}
#get item object
item = dataset.items.get(item_id='{{itemId}}')
#metadata update
item.metadata['user'] = dict()
item.metadata['user']['MyKey'] = 'MyValue'
#item.update()
{{/itemId}}

{{#taskId}}
#get task object
task=project.tasks.get(task_id='myTaskId')
assignedItems=task.assignments.list()
{{#itemId}}
# Mark single item as completed
#item.update_status(status=dl.ItemStatus.COMPLETED)
{{/itemId}}
{{/taskId}}

{{#assignmentId}}
# Get assignemnt
task.assignments.get(assignment_id='{{assignmentId}}')
#get assingment items 
items_list=assignment.get_items()
{{/assignmentId}}
