import dtlpy as dl
{{#projectId}}
#get project object
project = dl.projects.get(project_id='{{projectId}}')
{{/projectId}}

{{#datasetId}}
#get dataset object
dataset = project.datasets.get(dataset_id='{{datasetId}}')
{{/datasetId}}

{{#itemId}}
#get item object
item = dataset.items.get(item_id='{{itemId}}')
{{/itemId}}
