requests-toolbelt==0.9.1
opencv_python==3.4.2.17
requests==2.21.0
numpy==1.16.2
pandas==0.24.2
tabulate==0.8.3
tqdm==4.32.2
Pillow==6.0.0
PyJWT==1.7.1
scikit-image==0.15.0
jinja2==2.10.1
attrs==19.1.0
attr==0.3.1
prompt_toolkit==2.0.9
fuzzyfinder==2.1.0
sphinx-argparse==0.2.5
sphinxcontrib-websupport==1.1.2
nbsphinx==0.4.2
dictdiffer==0.8.0